<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css" integrity="sha512-ZYg+hQvLlM0W9C3P6vTpes5LmJ66G2EsroxDNzwD6qiulckldb29eD9I672HL2X+LH5nRhY1sQqZLJGB+aUUPg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @* First bootstrap element *@
    <masthead class="masthead">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/DarkAcademiaLibrary.jpg" class="d-block w-100 carousel-img" style="height: 350px; width: fit-content;" />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Welcome!</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/library.jpg" class="d-block w-100 carousel-img" style="height: 350px; width: fit-content;"/>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Shop for the best books!</h3>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </masthead>


    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <span class="col navbar-brand">The Best Online Book Store</span>
                <div class="col-6 text-right"><vc:cart-summary></vc:cart-summary></div>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <vc:category></vc:category>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
