@page
@model mission_09colelevi.Pages.CompletedModel
@{
}

<div class="text-center">
    <h2>Thank! Your order has been completed</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>